* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { 
    background-image: url('Elden-Ring-Header.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
  }

main{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 4rem;
	width: 90%;
	height: 100%;
	max-width: 100%;
	text-align: center;
}

article{
    backdrop-filter: blur(1000px);
    margin: 1rem;
    border-radius: .3rem;
    padding: 1rem 1.6rem 0rem 1.6rem;
	
}
h2{
	padding-bottom: .5rem;
}
img{
    border-radius: .5rem;
	max-width: 50%;
	max-height: 50%;
}
p{
	padding-top: .3rem;
	padding-bottom: .3rem;
	text-align: justify;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
